<body >
  <div>
     <nav class="navbar">
        <a>Logo Text</a>
        <div class="menu">
           <a>Home</a>
           <a>Tables</a>
        </div>
     </nav>
     <div class="navbar-table">
        Tables
     </div>
     <div class="navbar-table-data">
        <div class="lds-ring" *ngIf="isLoading">
           <div></div>
           <div></div>
           <div></div>
           <div></div>
        </div>
        <div *ngIf="showError" >Something Went Wrong...</div>
        <input *ngIf="!isLoading" type="text" placeholder="SEARCH" name="search" class="search-container" [(ngModel)]="searchTerm" (input)="filterTables()">
        <table *ngIf="!isLoading">
           <tr>
              <th>Table ID</th>
              <th>Game Provider Name</th>
              <th>Game Type</th>
              <th>Name</th>
              <th>Currency</th>
           </tr>
           <tr *ngFor = "let t of filteredList" >
              <td data-title="Table ID">{{t.tableId}}</td>
              <td data-title="Game Provider Name">{{t.gameProvider}}</td>
              <td data-title="Game Type">{{t.gameType}}</td>
              <td data-title="NAME">{{ shouldShowEllipsis(t.name) ? shortenName(t.name) : t.name }}</td>
              <td data-title="Currency">{{t.currency}}</td>
           </tr>
        </table>
     </div>
  </div>
</body>